.vs/
bin/
obj/
*.vsidx
*.db-shm
*.db-wal
*.user
*.suo
.vscode/
"bin/" 
"obj/" 
"*.dll" 
"*.pdb" 
"*.cache" 
bin/ 
obj/ 
*.dll 
*.pdb 
*.cache 
bin/ 
obj/ 
*.dll 
*.pdb 
*.cache 
bin/ 
obj/ 
.vs/ 
*.dll 
*.pdb 
*.cache 
*.user 
