@page "/login"
@layout LoginLayout

@using ABSA_SME_Business_Managment_System.Components.Models
@inject NavigationManager Navigation

<div class="login-container">
    <h2>Login</h2>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username" required>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" required>

        <button type="submit">Login</button>
    </form>
    <p class="signup-link">Don't have an account? <a href="#">Sign up</a></p>
</div>



@code {

}
