@page "/"
@layout LoginLayout

@using ABSA_SME_Business_Managment_System.Components.Models
@inject NavigationManager Navigation

<div class="mb-3">
    <NavLink class="btn btn-primary me-2" href="/employee/dashboard">
        Employee Dashboard
    </NavLink>

    <NavLink class="btn btn-secondary" href="/manager/dashboard">
        Manager Dashboard
    </NavLink>
</div>



@code {

}
