@page "/employee/inventory"
@using ABSA_SME_Business_Managment_System.Components.Models
@using ABSA_SME_Business_Managment_System.Components.Tables
<link href="~/app.css" rel="stylesheet" />

<h1>Employee Inventory</h1>
<InventoryTable StockItems="StockItems" />

@code {
    public IEnumerable<StockItem> StockItems { get; set; } = new List<StockItem>
    { 
        new StockItem { ItemName = "Laptop", Quantity = 10,MinLevel = 5,Status ="Low", Price = 15000 },
        new StockItem { ItemName = "Keyboard", Quantity = 25,MinLevel = 10,Status ="High", Price = 500 },
        new StockItem { ItemName = "Mouse", Quantity = 3,MinLevel = 5,Status ="Critical", Price = 300 }
    };
}
