@page "/manager/dashboard"




<!-- KPI cards row -->
<div class="row mb-4">
    <div class="col-md-4"><KpiCard Title="Total Tasks" Value="50" /></div>
    <div class="col-md-4"><KpiCard Title="Pending Approvals" Value="12" /></div>
    <div class="col-md-4"><KpiCard Title="Low Stock Alerts" Value="3" /></div>
</div>

<!-- Table section -->
<h4>📋 Workload</h4>
<ManagerTable UserRole="Manager" />

@code {

}
