@namespace TestAbsa


<link href="app.css" rel="stylesheet" />

<div class="user-header">
    <!-- this will be taken from the database-->
    <h2>John Doe</h2>
    <p>Employee ID</p>
</div>

@code {

}
